---
/**
 * @since ___PKG_VERSION___
 *
 * @packageDocumentation
 */

/* import - types */
import type { ComponentProps } from 'astro/types';

/* import - functions */

/* import - values */

/* import - components */
import AstroIcon from '@maddimathon/utility-astro/components/Icon';
import { ColourUtilities } from '../../ts/01-utilities/ColourUtilities.js';

/* import - layouts */

/* PROPS ===================================== */

export interface Props {
    clr: ColourUtilities.SingleShade;
    clrSlug: string;
    level: string;
    type: NonNullable<ComponentProps<typeof AstroIcon>['type']>;

    brightness?: string;
    class?: string | string[];
    title?: string;
}

const {
    brightness,
    class: classList,
    clr,
    clrSlug,
    level,
    title,
    type,
}: Props = Astro.props;

/* CONSTANTS ===================================== */

const varClr = ColourUtilities.toString.hsl(clr);
---

<!-- <Alert
    class:list={['contrast-alert', classList]}
    data-brightness-mode='light'
    style={`--contrast-alert-color: ${varClr};`}
    title={title ?? clrSlug}
    type={type}
>
    <span
        data-brightness-mode={brightness}
        slot='headline'
        set:text={level}
        style='background: transparent'
    />
</Alert> -->
<div
    class:list={['contrast-alert', classList]}
    data-brightness-mode='light'
    style={`--contrast-alert-color: ${varClr};`}
    title={title ?? clrSlug}
>
    <AstroIcon type={type} />
    <span
        data-brightness-mode={brightness}
        set:text={level}
        style='background: transparent'
    />
    <slot />
</div>

<style lang='scss' is:global>
    @forward '../scss/contrast-alert';
</style>
