---
/**
 * @since 0.1.0-alpha
 *
 * @packageDocumentation
 */

/* import - types */
import type { Tokens } from '../../ts/02-tokens/Tokens.js';

/* import - functions */
import {
    toTitleCase,
} from '@maddimathon/utility-typescript/functions';
import { objectMap } from '../../ts/01-utilities/objectMap.js';
import { getLevelsInUse } from '../../ts/02-tokens/getLevelsInUse.js';
import PageContent_Theme_Scripts from '../support/PageContent_Theme_Scripts.astro';

/* import - values */

/* import - components */
import Toggle from '@maddimathon/utility-astro/components/Toggle';
import ThemeModeSwatch from './ThemeModeSwatch.astro';
import Widget from './Widget.astro';
// import VariableDump from '@maddimathon/utility-astro/components/VariableDump';

/* import - layouts */

/* PROPS ===================================== */

export interface Props {
    // theme: Tokens.JsonReturn['themes'][keyof Tokens.JsonReturn['themes']];
    tokens: Tokens.JsonReturn;

    defaultToggleToOpen?: boolean;
}

const { defaultToggleToOpen: _defaultToggleToOpen, tokens }: Props = Astro.props;

/* CONSTANTS ===================================== */

const themeNames = Object.keys(tokens.themes) as (keyof typeof  tokens.themes )[];

const hasMultipleThemes = themeNames.length > 1;

const defaultToggleToOpen = _defaultToggleToOpen ?? ((!hasMultipleThemes && import.meta.env.DEV) ? true : undefined);

const levelsInUse = getLevelsInUse(tokens.themes);

const buttonVariations = tokens.themes['default'] 
    ? Object.keys(
        tokens.themes['default']['light'].average.data.button
    ).filter( v => v != 'primary' && v != 'disabled' )
    : [];

const parsedSets = Object.values(
    objectMap(tokens.themes, ([key,  theme]) => ({
        key,
        parsed: Object.values(
            objectMap(theme, ([brightness]) =>
            brightness === 'name'
                    ? false
                    : brightness === 'levelsInUse'
                      ? false
                      :  brightness === 'forcedColours' 
                        ? false
                        : {
                              name: brightness,
                              values: Object.values(
                                  objectMap(
                                  theme[brightness],
                                    ([ contrast,  theme ]): {
                                        id: string,
                                        brightness: "light"|"dark",
                                        contrast: "low"|"average"|"high"|"max",
                                        theme: typeof theme,
                                    } => ({
                                          id: `theme-${key}-${contrast}`,
                                          brightness,
                                          contrast,
                                          theme,
                                      })
                                  )
                              ),
                          }
            )
        ).filter((v) => v !== false),
    }))
);

const displayOptions = [
    {
        label: 'Preview',
        value: 'preview',
    },
    {
        label: 'Token values',
        value: 'tokens',
    },
] as const satisfies {
    label: string;
    value: string;
}[];
---

<p>
    The following colour shade levels are in use in at least one of the themes
    below: {
        Array.from( levelsInUse ).map( (level, i) =>
            i < levelsInUse.size - 1 ? (
                <Fragment set:html={`<code>${level}</code>, `} />
            ) : (
                <Fragment set:html={`and <code>${level}</code>.`} />
            )
        )
    }
</p>

<div
    aria-ignore="true"
    class="theme-mode-preview-page__display-mode__wrapper"
>Display themes as: 
{ displayOptions.map( ( { label, value } ) => (
    <label class='theme-mode-preview-page__display-mode__label'><input 
        type='radio'
        class='theme-mode-preview-page__display-mode__label'
        name='theme-mode-preview-page__display-mode-control'
        value={value}
    /> {label}</label>
) ) }</div>

{
    parsedSets.map(({ key, parsed }) => (
        <h2 
            class='screen-reader-text'
            set:text={`${toTitleCase(key)} Theme`}
        />
        <Fragment>
            {parsed.map((brightnessSet) => ( 
                <Toggle
                    class='theme-mode-toggle'
                    defaultOpen={defaultToggleToOpen} 
                    displayHeading={2}
                    heading={3} 
                    id={`themes-${key}-${brightnessSet.name}-mode`}
                >
                    <Fragment 
                        set:text={toTitleCase(`${key} — ${brightnessSet.name} Mode`)}
                        slot='button'
                    />
                    { displayOptions.map( ( opt ) => (
                        // data-active-theme={key}
                        // data-brightness-mode={brightnessSet.name}
                        <div
                            class:list={ [
                                'theme-mode-toggle__list', 
                            ] }
                            data-theme-mode-preview-page-display-mode-content={opt.value}
                            style={`--theme-mode-swatch-list-column-count: ${brightnessSet.values.length};`}
                        >
                            { brightnessSet.values.map((set) => (
                                <ThemeModeSwatch
                                    {...set}
                                    brightness={brightnessSet.name}
                                    data-active-theme={key == 'default' ? undefined : key}
                                    displayMode={opt.value}
                                    heading={4}
                                    id={`${set.id}-swatch`}
                                    tokens={tokens}
                                >
                                    <Fragment
                                        slot='heading'
                                        set:text={`${toTitleCase(set.contrast)} Contrast`}
                                    />
                                    { hasMultipleThemes && key == 'default' && (
                                        <div class="theme-mode-swatch__alt-widgets" slot="preview">{ themeNames.map(
                                            ( themeName ) => themeName !== key && (
                                                <Widget
                                                    displayHeading={3}
                                                    heading={5} 
                                                    data-active-theme={themeName}
                                                    data-brightness-mode={brightnessSet.name}
                                                    data-contrast-mode={set.contrast}
                                                >
                                                    <Fragment slot='heading' ><samp set:text={toTitleCase(themeName)} /> Callout</Fragment>
                                                    <p>Lorem ipsum <a href="#">dolor sit amet</a>, consectetur adipiscing elit. Sed vel odio at nibh <abbr title="these aren’t real words">pharetra condimentum</abbr>. Mauris id sapien sodales, volutpat turpis. { import.meta.env.DEV && <Fragment set:html={'Donec mi ex, venenatis in elit vitae, <a href="#" aria-disabled="true">blandit sodales nunc</a>. '} /> }</p>
                                                    <ul>
                                                        <li>Etiam ullamcorper commodo risus.</li>
                                                        <li>Fusce mattis, odio at varius pharetra, tellus arcu convallis erat, vel blandit nulla sem nec enim.</li>
                                                    </ul>
                                                    <p>Etiam ornare ligula eu ipsum eleifend laoreet blandit et diam. Duis cursus eros magna, ac sagittis nibh sodales eget.</p>
                                                    <div class="button-span">
                                                        <button type="button">This is a button</button>
                                                        <button aria-disabled="true" type="button">This is a disabled button</button>
                                                        
                                                        <Fragment>{ buttonVariations.map(
                                                            variant => <button
                                                                class={`button-${variant}`}
                                                                set:text={`This is a ${variant} button`}
                                                                type="button"
                                                            />
                                                        ) }</Fragment>
                                                    </div>
                                                    <p>Maecenas facilisis sollicitudin nisi, eget pellentesque dui rhoncus condimentum. Vivamus vulputate nisl sit amet vehicula commodo.</p>
                                                </Widget>
                                            )
                                        ) }</div>
                                    ) }
                                </ThemeModeSwatch>
                            )) }
                        </div>
                    ) ) }
                </Toggle>
            ))}
        </Fragment>
    ))
}

<PageContent_Theme_Scripts />

<style lang='scss'>
    @forward '../scss/page-content-theme';
</style>