---
/**
 * @since 0.1.0-alpha
 *
 * @packageDocumentation
 */

/* import - types */
// import VariableDump from '@maddimathon/utility-astro/components/VariableDump';
import type { Tokens } from '../../ts/02-tokens/Tokens.js';

/* import - functions */

/* import - values */

/* import - components */
import Toggle from '@maddimathon/utility-astro/components/Toggle';
import Alert from './Alert.astro';
import Icon from './Icon.astro';

/* import - layouts */

/* PROPS ===================================== */

export interface Props {
    tokens: Tokens.JsonReturn;
}

const { tokens }: Props = Astro.props;

/* CONSTANTS ===================================== */

const defaultToggleToOpen = import.meta.env.DEV ? true : undefined;
---

<h2>All Icons</h2>

<ul class='container body-subgrid | tokens-demo-all-icons'>
    {
        Object.values(tokens.icons).map((icon) => (
            <li>
                <Icon icon={icon} />
            </li>
        ))
    }
</ul>

<Alert
    heading={2}
    icon={tokens.icons.star}
>
    <span
        slot='headline'
        set:text='All Alert Blocks'
    />
</Alert>
{
    Object.values(tokens.icons).map((icon) => (
        <Alert icon={icon}>
            <span
                slot='headline'
                set:text={icon.slug}
            />
            <p set:text={`label: ${icon.label}`} />
        </Alert>
    ))
}

<Toggle
    class:list={'page-width'}
    defaultOpen={defaultToggleToOpen}
    heading={2}
    id={`tokens-demo-icons-vardump`}
>
    <Fragment
        set:text='All Alert Heading Levels'
        slot='button'
    />
    {
        Object.keys(tokens.typography.size.heading)
            .map(Number)
            .map((heading) => (
                <Alert
                    heading={heading}
                    icon={tokens.icons.star}
                >
                    <span
                        slot='headline'
                        set:text={`Heading Level ${heading}`}
                    />
                    <p set:text='Aenean dictum commodo ex, eleifend malesuada nibh rhoncus at. Vivamus non lectus eu turpis aliquet pretium. Cras metus urna, tincidunt at scelerisque sit amet, tincidunt vitae risus.' />
                    <p set:text='Vivamus sed commodo ligula, nec efficitur elit. Praesent condimentum diam est, sit amet venenatis sapien ullamcorper sit amet.' />
                </Alert>
            ))
    }
    <Alert icon={tokens.icons.star}>
        <span
            slot='headline'
            set:text={`NO Heading Level`}
        />
        <p
            set:text='Aenean dictum commodo ex, eleifend malesuada nibh rhoncus at. Vivamus non lectus eu turpis aliquet pretium. Cras metus urna, tincidunt at scelerisque sit amet, tincidunt vitae risus.'
        />
        <p
            set:text='Vivamus sed commodo ligula, nec efficitur elit. Praesent condimentum diam est, sit amet venenatis sapien ullamcorper sit amet.'
        />
    </Alert>
</Toggle>

<style lang='scss'>
    @forward '../scss/page-content-icons';
</style>
