---
/**
 * @since ___PKG_VERSION___
 *
 * @packageDocumentation
 */

/* import - types */
import type { ComponentProps } from 'astro/types';
import type { ColourContrastTest } from '../../ts/01-utilities/ColourContrastTest.js';
import type {
    TokenLevels,
    TokenLevels_Extended,
} from '../../ts/02-tokens/@types.d.ts';
import type { Tokens_Internal } from '../../ts/02-tokens/Tokens.js';
import type { Tokens_Colour_ShadeMap_Shade } from '../../ts/02-tokens/Colour/ShadeMap/ShadeMap_Shade.js';

/* import - functions */
import {
    arrayUnique,
    toTitleCase,
} from '@maddimathon/utility-typescript/functions';
import { objectGenerator } from '../../ts/01-utilities/objectGenerator.js';
import { objectMap } from '../../ts/01-utilities/objectMap.js';

/* import - values */

/* import - components */
import ContrastAlert from './ContrastAlert.astro';
import Heading from '@maddimathon/utility-astro/components/Heading';
import VariableDump from '@maddimathon/utility-astro/components/VariableDump';

/* import - layouts */

/* TYPES ===================================== */

/* PROPS ===================================== */

export interface Props<
    T_ColourName extends string = Tokens_Internal.Default_ColourName,
    T_ExtraLevels extends
        TokenLevels_Extended = Tokens_Internal.Default_ExtraColourLevels,
> extends Omit<
        ComponentProps<typeof Heading>,
        'frontmatter' | 'heading' | 'id'
    > {
    //
    id: string;

    values: {
        min?: Tokens_Colour_ShadeMap_Shade.Contrast.Minimum<
            T_ColourName,
            T_ExtraLevels
        >;
        max?: Tokens_Colour_ShadeMap_Shade.Contrast.Maximum<
            T_ColourName,
            T_ExtraLevels
        >;
        results: Tokens_Colour_ShadeMap_Shade.ContrastResults<
            T_ColourName,
            T_ExtraLevels
        >;
    };
    // values: Tokens_Colour_ShadeMap_Shade.JsonReturn<
    //     T_ColourName,
    //     T_ExtraLevels
    // >['contrast'];

    heading: number | false;
}

const {
    class: classList,
    heading: headingRaw,
    id,
    values,
    ...attributes
}: Props = Astro.props;

/* FUNCTIONS ===================================== */

type ColourSet_AllShades_StandardGroup<
    T_ColourName extends string,
    T_ExtraLevels extends TokenLevels_Extended,
> = {
    [ K in TokenLevels | T_ExtraLevels ]?: {
        ratio: number;
        result: ColourContrastTest.TestResult_Single;
    };
};

type ColourSet_AllShades<
    T_ColourName extends string,
    T_ExtraLevels extends TokenLevels_Extended,
> = {
    [ N in T_ColourName ]?: {
        [ S in "aa" | "aaa" ]: ColourSet_AllShades_StandardGroup<T_ColourName, T_ExtraLevels>;
    };
};

type ColourSet_Minimum<
    T_ExtraLevels extends TokenLevels_Extended,
> = undefined | {
    [S in 'aa' | 'aaa']?: {
        colCount: number;
        text?: {
            level: TokenLevels | T_ExtraLevels;
            ratio: number;
        };
        ui?: {
            level: TokenLevels | T_ExtraLevels;
            ratio: number;
        };
    };
};

type ColourSet_Maximum<
    T_ExtraLevels extends TokenLevels_Extended,
> = undefined | {
    level: TokenLevels | T_ExtraLevels;
    ratio: number;
};

type ColourSet<
    T_ColourName extends string = Tokens_Internal.Default_ColourName,
    T_ExtraLevels extends
        TokenLevels_Extended = Tokens_Internal.Default_ExtraColourLevels,
> =
    | undefined
    | {
        [K in T_ColourName]: {
            name: T_ColourName;
            colCount: number;
            cssTextColour?: string;
            allShades: ColourSet_AllShades<T_ColourName, T_ExtraLevels>;
            min?: ColourSet_Minimum<T_ExtraLevels>;
            max?: ColourSet_Maximum<T_ExtraLevels>;
        };
    };

function getShadeMapSets<
    T_ColourName extends string = Tokens_Internal.Default_ColourName,
    T_ExtraLevels extends
        TokenLevels_Extended = Tokens_Internal.Default_ExtraColourLevels,
>(
    _values: Props<T_ColourName, T_ExtraLevels>['values']
): ColourSet<T_ColourName, T_ExtraLevels> {
    const allColours = arrayUnique(
        Object.keys(_values.min ?? []).concat(Object.keys(_values.max ?? []))
    ) as T_ColourName[];

    // returns
    if (!allColours.length) {
        return undefined;
    }

    const summarizer = (
        _v:
            | undefined
            | Tokens_Colour_ShadeMap_Shade.Contrast.SingleMinMax<
                  T_ColourName,
                  T_ExtraLevels
              >
    ) =>
        _v && {
            level: _v.level,
            ratio: _v.ratio,
        };

    const minMaker = (_clr: T_ColourName, _std: 'aa' | 'aaa') => {
        const text = summarizer(_values.min?.[_clr]?.text?.[_std]);
        const ui = summarizer(_values.min?.[_clr]?.ui?.[_std]);

        if (text || ui) {
            return {
                colCount: text && ui ? 2 : 1,
                text: text || undefined,
                ui: ui || undefined,
            };
        }

        return undefined;
    };

    function _generator<T_Clr extends T_ColourName>(colourName: T_Clr): {
        name: T_Clr;
        colCount: number;
        cssTextColour?: string;
        allShades: ColourSet_AllShades<T_Clr, T_ExtraLevels>;
        min?: ColourSet_Minimum<T_ExtraLevels>;
        max?: ColourSet_Maximum<T_ExtraLevels>;
    } {

        const min_aa = minMaker(colourName, 'aa');
        const min_aaa = minMaker(colourName, 'aaa');
        
        const min: ColourSet_Minimum<T_ExtraLevels> = ( min_aa || min_aaa ) && {
            aa: min_aa || undefined,
            aaa: min_aaa || undefined,
        };

        const max: ColourSet_Maximum<T_ExtraLevels> = summarizer(_values.max?.[colourName]) || undefined;

        const colCount: number =
            (max ? 1 : 0) + (min?.aa?.colCount ?? 0) + (min?.aaa?.colCount ?? 0);

        const cssTextColourLevel =
            min?.aa?.text?.level ??
            min?.aaa?.text?.level ??
            max?.level;

        const allShades: ColourSet_AllShades<T_Clr, T_ExtraLevels> =
            objectMap(
                _values.results,
                ( { key: _clrName } ) => objectGenerator(
                    ['aa', 'aaa'] as const,
                    ( standard ) => {

                        const _val: undefined | {
                            [ K in TokenLevels | T_ExtraLevels ]?: {
                                ratio: number;
                                result: ColourContrastTest.TestResult_Single;
                            };
                        } = _values.results[_clrName] && objectMap(
                            _values.results[_clrName],
                            
                            (res) => {
                                
                                const __val: undefined | {
                                    ratio: number;
                                    result: ColourContrastTest.TestResult_Single;
                                } = ( res.value?.ratio && res.value?.[standard] ) ? {
                                    ratio: res.value?.ratio,
                                    result: res.value?.[standard],
                                } : undefined;

                                return __val;
                            }
                        );

                        return _val;
                    }
                )
            );;

        return {
            name: colourName,
            colCount,

            min,
            max,

            cssTextColour:
                cssTextColourLevel &&
                `var(--clr-${colourName}-${cssTextColourLevel})`,

            allShades,
        };
    };

    return objectGenerator(
        allColours, 
        _generator
        // (colourName) => {
        //     const min: ColourSet_Minimum<T_ExtraLevels> = {
        //         aa: minMaker(colourName, 'aa'),
        //         aaa: minMaker(colourName, 'aaa'),
        //     };

        //     const max = summarizer(_values.max?.[colourName]) || undefined;

        //     const colCount =
        //         (max ? 1 : 0) + (min.aa?.colCount ?? 0) + (min.aaa?.colCount ?? 0);

        //     const cssTextColourLevel =
        //         min?.aa?.text?.level ??
        //         min?.aaa?.text?.level ??
        //         // min?.aaa?.ui?.level ??
        //         // min?.aa?.ui?.level ??
        //         max?.level;

        //     const allShades: {
        //         [ S in "aa" | "aaa" ]: ColourSet_AllShades_StandardGroup<T_ColourName, T_ExtraLevels>;
        //     } =
        //         objectGenerator(
        //             ['aa', 'aaa'] as const,
        //             ( standard ) => {

        //                 const _val: undefined | {
        //                     [ K in TokenLevels | T_ExtraLevels ]?: {
        //                         ratio: number;
        //                         result: ColourContrastTest.TestResult_Single;
        //                     };
        //                 } = _values.results[colourName] && objectMap(
        //                     _values.results[colourName],
                            
        //                     (res) => {
                                
        //                         const __val: undefined | {
        //                             ratio: number;
        //                             result: ColourContrastTest.TestResult_Single;
        //                         } = ( res.value?.ratio && res.value?.[standard] ) ? {
        //                             ratio: res.value?.ratio,
        //                             result: res.value?.[standard],
        //                         } : undefined;

        //                         return __val;
        //                     }
        //                 );

        //                 return _val;
        //             }
        //         );

        //     return {
        //         name: colourName,
        //         colCount,

        //         min: (min.aa || min.aaa) && {
        //             aa: min.aa || undefined,
        //             aaa: min.aaa || undefined,
        //         },

        //         max,

        //         cssTextColour:
        //             cssTextColourLevel &&
        //             `var(--clr-${colourName}-${cssTextColourLevel})`,

        //         allShades,
        //     };
        // }
    );
}

/* CONSTANTS ===================================== */

const heading = headingRaw || 7;

const shadeMapSets = getShadeMapSets(values);
---

<Heading
    {...attributes}
    class:list={['screen-reader-text', classList]}
    heading={heading}
    set:text='Contrast Test Results'
/>

{
    shadeMapSets &&
        Object.values(shadeMapSets).map((shadeMapSet) => (
            <Heading
                class='shade-swatch__contrast__result-group__heading'
                heading={heading + 1}
                set:text={toTitleCase(shadeMapSet.name)}
                style={
                    shadeMapSet.cssTextColour &&
                    `--shade-swatch-contrast-result-group-heading-color: ${shadeMapSet.cssTextColour}; font-weight: 500;`
                }
            />

            <div
                class:list={[
                    'shade-swatch__contrast__result-group',
                    'shade-swatch__contrast__result-group--min-max',
                ]}
                style={`--shade-swatch-contrast-result-group-column-count: ${shadeMapSet.colCount}`}
            >

                {(['aa', 'aaa'] as const).map(
                    (standard) =>
                        shadeMapSet.min?.[standard] && (
                            <div
                                class='shade-swatch__contrast__result-group__single-standard'
                                style={`--shade-swatch-contrast-result-group-single-standard-column-count: ${shadeMapSet.min?.[standard].colCount}`}
                            >
                                <Heading
                                    class={[
                                        'shade-swatch__contrast__result-group__single-standard__heading',
                                        'shade-swatch__contrast__result-group__single-standard__heading--minimum',
                                        `shade-swatch__contrast__result-group__single-standard__heading--minimum--${standard}`,
                                    ]}
                                    heading={heading + 2}
                                    set:text={standard.toUpperCase()}
                                />
                                {shadeMapSet.min?.[standard].ui && (
                                    <ContrastAlert
                                        clrSlug={`${shadeMapSet.name}-${shadeMapSet.min?.[standard].ui.level}`}
                                        level={
                                            shadeMapSet.min?.[standard].ui.level
                                        }
                                        title={`${standard.toUpperCase()} UI Minimum`}
                                        type='ui'
                                    />
                                )}
                                {shadeMapSet.min?.[standard].text && (
                                    <ContrastAlert
                                        clrSlug={`${shadeMapSet.name}-${shadeMapSet.min?.[standard].text.level}`}
                                        level={
                                            shadeMapSet.min?.[standard].text
                                                .level
                                        }
                                        title={`${standard.toUpperCase()} Text Minimum`}
                                        type='minimum'
                                    />
                                )}
                            </div>
                        )
                )}

                {shadeMapSet.max && (
                    <div
                        class='shade-swatch__contrast__result-group__single-standard'
                        style={`--shade-swatch-contrast-result-group-single-standard-column-count: 1`}
                    >
                        <Heading 
                            class={[
                                'shade-swatch__contrast__result-group__single-standard__heading',
                                'shade-swatch__contrast__result-group__single-standard__heading--maximum',
                            ]}
                            heading={heading + 2}
                            aria-label='Max'
                            set:text='x'
                        />
                        <ContrastAlert
                            clrSlug={`${shadeMapSet.name}-${shadeMapSet.max.level}`}
                            level={shadeMapSet.max.level}
                            title={`Maximum`}
                            type='maximum'
                        />
                    </div>
                )}
            </div>

            <Fragment>
                { shadeMapSet.allShades && (
                    <div
                        class:list={[
                            'shade-swatch__contrast__result-group',
                            'shade-swatch__contrast__result-group--all-shades',
                        ]}
                    >
                        <VariableDump name="shadeMapSet.allShades" var={shadeMapSet.allShades} />

                        { Object.values( shadeMapSet.allShades ).map( ( shadeSingleSet ) => ( shadeSingleSet.aa || shadeSingleSet.aaa ) && <Fragment>{(['aa', 'aaa'] as const).map(
                            (standard) =>
                                shadeSingleSet[standard] && (
                                    <div
                                        class='shade-swatch__contrast__result-group__single-standard'
                                        style={`--shade-swatch-contrast-result-group-single-standard-column-count: ??`}
                                    >
                                        <Heading
                                            class={[
                                                'shade-swatch__contrast__result-group__single-standard__heading',
                                                'shade-swatch__contrast__result-group__single-standard__heading--all-shades',
                                                `shade-swatch__contrast__result-group__single-standard__heading--all-shades--${standard}`,
                                            ]}
                                            heading={heading + 2}
                                            set:text={standard.toUpperCase()}
                                        />
                                        <p>CONTRAST ALERTS GO HERE</p>
                                    </div>
                                )
                        )}</Fragment> ) }
                    </div>
                ) }
            </Fragment>
        ))
}
