---
/**
 * @since 0.1.0-alpha
 *
 * @packageDocumentation
 */

/* import - types */
import type { HTMLAttributes } from 'astro/types';
import type { RecursiveRecord } from '../../ts/01-utilities/@types.d.ts';
import type { ColourLevels, ColourLevels_Extended } from '../../ts/02-tokens/@types.d.ts';
import type { Tokens } from '../../ts/02-tokens/Tokens.js';
import type { Tokens_Themes_Set_SingleMode } from '../../ts/02-tokens/Themes/Themes_Set_SingleMode.js';

/* import - functions */
import { toTitleCase } from '@maddimathon/utility-typescript/functions';
import { ColourUtilities } from '../../ts/01-utilities/ColourUtilities.js';
import { objectGenerator } from '../../ts/01-utilities/objectGenerator.js';
import { objectMap } from '../../ts/01-utilities/objectMap.js';
import { textColorLevel } from './ShadeSwatch.astro';

/* import - values */

/* import - components */
import Heading from '@maddimathon/utility-astro/components/Heading';
import Table from '@maddimathon/utility-astro/components/Table';
import VariableDump from '@maddimathon/utility-astro/components/VariableDump';
import LoremIpsum from './LoremIpsum.astro';

/* import - layouts */

/* PROPS ===================================== */

export interface Props extends Omit<HTMLAttributes<'div'>, 'class'> {
    heading: number;
    theme: Tokens.Themes.SingleMode.JsonReturn;
    tokens: Tokens.JsonReturn;

    displayMode: 'preview' | 'tokens';

    brightness?: string;
    contrast?: string;
    
    /**
     * HTML string used between the theme token name and its value.
     */
    equals?: string;
}

const {
    brightness,
    contrast,
    displayMode,
    equals = '=',
    heading: _heading,
    theme,
    tokens,
    ...attributes
}: Props = Astro.props;

/* FUNCTIONS ===================================== */

function themeTokenFlatten<T_Val extends string | number |undefined |null|any[]>( 
    prefix: null|string,
    obj:  RecursiveRecord<string, T_Val>,
): { key: string; value: T_Val; }[] {
    const pre = prefix == '$' ? '' : prefix ?? '';

    const mapper = ( [ key, value ]: [
        string,
        T_Val|RecursiveRecord<string, T_Val>
    ] ): {
        key: string;
        value: T_Val;
    }[] => {
        key = pre + ( key == '$' ? '' : `-${key}` );

        // returns 
        if ( value && typeof value === 'object' && !Array.isArray(value) ) {
            return themeTokenFlatten( key, value );
        }
        
        return [{key: 'theme-' + key, value}];
    };

    return Object.values(
        objectMap(
            obj,
            mapper
        )
    ).flat();
}

function captureClrDataFromThemeValue( 
    _tokens: Tokens.JsonReturn<string>,
    _brightness?: string,
    _clrSlug: string,
): undefined | {
    name: string;
    level: ColourLevels | ColourLevels_Extended;
} {
    // returns
    if (_clrSlug === 'transparent' || _clrSlug === 'unset') {
        return undefined;
    }

    const matches = _clrSlug?.match( /^([^\s]+)-(\d{3})$/i ) as null | [ string, string, ColourLevels ];

    // returns
    if (!matches) {
        return undefined;
    }

    const level = _brightness == 'dark'
     ? ColourUtilities.getDarkLevel( matches[2] )
     : matches[2];

     return {
        name: matches[1],
        level,
     };
}

function getClrFromThemeValue( 
    _tokens: Tokens.JsonReturn<string>,
    _brightness?: string,
    _clrSlug: string | string[],
): string {

    const slug = Array.isArray(_clrSlug) ? _clrSlug[0] : _clrSlug;

    // returns
    if (!slug) {
        return String(slug);
    }
    
    // returns
    if (slug === 'transparent' || slug === 'unset') {
        return 'inherit';
    }

    const { name, level } = captureClrDataFromThemeValue(_tokens, _brightness, slug) ?? {};

    // returns
    if (!name || !level) {
        return String(slug);
    }
    
    const clr = _tokens.colour[name]?.[level];

    // returns
    if (!clr) {
        return String(slug);
    }
    
    return ColourUtilities.toString.hsl(clr);
}

/* CONSTANTS ===================================== */

const customDisplayKeys = ['background', 'button', 'field', 'selection', 'system'];

const autoTokens = Object.values(
    objectMap(theme.data, ([key, value ]) =>
        customDisplayKeys.includes(key)
            ? false
            : (typeof value !== 'object' || Array.isArray( value ) )
              ? { key, value }
              : { key, variations: themeTokenFlatten( 
                    key, 
                    value as RecursiveRecord<string, string>
                ) }
    )
).filter((v) => v !== false);

const headingHTML = (await Astro.slots.render('heading')) || false;

const heading = _heading + (headingHTML ? 1 : 0);


const levelsInUseTable = theme.levelsInUse.map(
    ( levels ) => ( {
        levels,

        styles: objectMap(
            levels,
            ( [ key, value ] ) => {
                key;

                const textColor = textColorLevel( value as ColourLevels );
                
                return textColor && {
                    background: tokens.colour.base[value],
                    color: tokens.colour.base[textColor],
                } ;
            }
        ),
    } ),
);


type ButtonVariation = {
    name: string;
    states: {
        [ K in keyof Tokens_Themes_Set_SingleMode.Data_Button<string, never>['bg'] ]: {

            [ K in keyof Tokens_Themes_Set_SingleMode.Data_Button<string, never> ]: undefined | {
                state: null | Exclude<
                    keyof Tokens_Themes_Set_SingleMode.Data_Button<string, never>['bg'],
                    '$'
                >;
                key: string;
                value: string | string[] ;
            };
        };
    };
};

const buttons: {
    [ K in 'primary' | 'secondary' | 'disabled' ]: ButtonVariation;
} & {
    [ key: string ]: ButtonVariation;
} = objectMap(
    theme.data.button,
    ( [ variation, value ] ): ButtonVariation => ( {
        name: variation,
        states: objectGenerator(
            [ '$', 'hover', 'active' ],
            ( key ) => {

                const state =  key == '$' ? null : key;

                const keySuffix = key == '$' ? '' : `-${key}`;
                
                return {
                    bg: {
                        state,
                        key: `button-${variation}-bg${keySuffix}`,
                        value: value.bg[key],
                    },
                    border: {
                        state,
                        key: `button-${variation}-border${keySuffix}`,
                        value: value.border[key],
                    },
                    outline: state && value.outline[key] ? {
                        state,
                        key: `button-${variation}-outline${keySuffix}`,
                        value: value.outline[key],
                    } : undefined,
                    text: {
                        state,
                        key: `button-${variation}-text${keySuffix}`,
                        value: value.text[key],
                    },
                    ui: {
                        state,
                        key: `button-${variation}-ui${keySuffix}`,
                        value: value.text[key],
                    },
                };
            }
        ),
    } ),
);


const field: {
    [ K in keyof Tokens.Themes.SingleMode.JsonReturn['data']['field']['text'] ]: {

        [ K in keyof Tokens.Themes.SingleMode.JsonReturn['data']['field'] ]: {
            state: null | Exclude<
                keyof Tokens.Themes.SingleMode.JsonReturn['data']['field']['text'],
                '$'
            >;
            key: string;
            clrSlug: string | string[];
        };
    };
} = objectGenerator(
    [ '$', 'hover', 'active' ],
    ( key ) => {

        const state =  key == '$' ? null : key;

        const keySuffix = key == '$' ? '' : `-${key}`;
        
        return {
            accent: {
                state,
                key: `field-accent${keySuffix}`,
                clrSlug: theme.data.field.accent[key],
            },
            bg: {
                state,
                key: `field-bg${keySuffix}`,
                clrSlug: theme.data.field.bg[key],
            },
            border: {
                state,
                key: `field-border${keySuffix}`,
                clrSlug: theme.data.field.border[key],
            },
            text: {
                state,
                key: `field-text${keySuffix}`,
                clrSlug: theme.data.field.text[key],
            },
        };
    }
);

// const cssVars = {
//     'shade-swatch-color': text || undefined,
//     'shade-swatch-background': bg ?? undefined,
// };

const displayHeading = 3;
---

<article
    class:list={['container', 'theme-mode-swatch']}
    {...attributes}
    data-brightness-mode={brightness}
    data-contrast-mode={contrast}
    style={ [
        `--theme-background: var(--clr-${theme.data.background})`,
        `--theme-text: var(--clr-${theme.data.text.$})`,
        `background: var(--clr-${theme.data.background})`,
        `color: var(--clr-${theme.data.text.$})`,
    ].join(';') }
>
    {
        headingHTML && (
            <Heading
                heading={heading - 1}
            displayHeading={displayHeading - 1}
                class:list={ [
                    'theme-mode-swatch__name',
                ] }
                set:html={headingHTML}
            />
        )
    }

    { theme.description &&  <p class="theme-mode-swatch__description" set:html={theme.description} /> }
    
    { displayMode == 'tokens' ? <Fragment>
        <Heading
            heading={heading}
            displayHeading={displayHeading}
            set:text='Tokens'
        />
        <p
            class="theme-mode-swatch__sample"
            style={ [
                `background: ${getClrFromThemeValue(tokens, brightness, theme.data.background)}`,
                `color: ${getClrFromThemeValue(tokens, brightness, theme.data.text.$)}`,
            ].join(';') }
        ><code set:text="theme-background" /> {equals} <code set:text={theme.data.background} />.</p>
        <p
            class="theme-mode-swatch__sample theme-mode-swatch__sample--selection"
        ><code set:text='theme-selection-bg' /> {equals} <code set:text={theme.data.selection.bg} /></p>
        <p
            class="theme-mode-swatch__sample theme-mode-swatch__sample--selection"
        ><code set:text='theme-selection-text' /> {equals} <code set:text={theme.data.selection.text} /></p>
        {
            autoTokens.map((_tokens) => (
                <Heading
                    heading={heading + 1}
                    displayHeading={displayHeading + 1}
                    set:text={`${_tokens.key == 'ui' ? _tokens.key.toUpperCase() : toTitleCase(_tokens.key)} Tokens`}
                />
                <Fragment>{ _tokens.variations ? _tokens.variations.map( ( { key, value } ) => (
                    <p
                        class="theme-mode-swatch__sample"
                        style={ `color: ${getClrFromThemeValue(tokens, brightness, value)}` }
                    ><code set:text={key} /> {equals} <code set:text={value} /></p>
                ) ) : (
                    <VariableDump
                        name='_tokens'
                        var={_tokens}
                    />
                ) }</Fragment>  
            ))
        }
        <Heading
            displayHeading={displayHeading + 1}
            heading={heading + 1}
            set:text='Buttons'
        />
        { import.meta.env.DEV && ( 
            <Fragment>
                <Heading
                    heading={heading + 2}
                    class:list='screen-reader-text'
                    set:text='Button Previews'
                />
                { Object.values( buttons ).map( ( variation ) => (
                    <Heading
                        heading={heading + 3}
                        class:list='screen-reader-text'
                        set:text={variation.name}
                    />
                    <div class:list={['button-span | theme-mode-swatch__button-span']}>{ Object.values( variation.states ).map( ( state ) => (
                        <button
                            set:text={`${toTitleCase(variation.name)} Button${state.bg?.state ? ` (${state.bg.state})` : ''}`}
                            aria-disabled={ variation.name === 'disabled' ? true : undefined }
                            class:list={ [
                                `button-${variation.name}`,
                                '|',
                                'theme-mode-swatch__sample',
                                'theme-mode-swatch__sample--button',
                            ] }
                            style={ [
                                state.border?.value && `border-color: ${getClrFromThemeValue(tokens, brightness, state.border.value)}`,
                                state.bg?.value && `background: ${getClrFromThemeValue(tokens, brightness, state.bg.value)}`,
                                state.text?.value && `color: ${getClrFromThemeValue(tokens, brightness, state.text.value)}`,
                            ].join(';') }
                        />
                    ) ) }</div>
                ) ) }
            </Fragment>
         ) }
        <Heading
            heading={heading + 2}
            class:list='screen-reader-text'
            set:text='Token Values'
        />
        { Object.values( buttons ).map( ( variation ) => (
            <Heading
                heading={heading + 3}
                displayHeading={displayHeading + 2}
                set:text={`${toTitleCase(variation.name)} Button`}
            />
            <Fragment>{ Object.values( variation.states ).map(
                ( state ) => (['bg', 'border', 'text', 'ui'] as const).map(
                    (key) => (
                        state[key] && ( key != 'border' || state.border?.value != state.bg?.value ) && <p
                            class="theme-mode-swatch__sample"
                            style={ [
                                (key == 'text' || key == 'ui') && state.bg 
                                    ? `background: ${getClrFromThemeValue(tokens, brightness, state.bg.value)}`
                                    : '',
                                `color: ${getClrFromThemeValue(tokens, brightness, state[key].value)}`,
                            ].join(';') }
                        ><code set:text={`theme-button-${variation.name}-${key}${state[key].state ? `-${state[key].state}`: '' }`} /> {equals} <code set:text={state[key].value} /></p>
                    )
                )
             ) }</Fragment>
        ) ) }
        <Heading
            heading={heading + 1}
            displayHeading={displayHeading + 1}
            set:text='Input Fields'
        />
        { Object.values( field ).map( ( state ) => (
            <input
                type="text"
                placeholder={`Field${state.bg.state ? ` (${state.bg.state})` : ''}`}
                class:list={ [
                    'theme-mode-swatch__sample',
                    'theme-mode-swatch__sample--field',
                ] }
                style={ [
                    `border-color: ${getClrFromThemeValue(tokens, brightness, state.border.clrSlug)}`,
                    `background: ${getClrFromThemeValue(tokens, brightness, state.bg.clrSlug)}`,
                    `color: ${getClrFromThemeValue(tokens, brightness, state.text.clrSlug)}`,
                ].join(';') }
            /> 
        ) ) }
        <slot name="tokens" />
        { levelsInUseTable.length && ( 
            <Heading
                heading={heading}
                displayHeading={displayHeading }
                set:text='Shades in Use'
            />
            <Table 
                class:list={['theme-mode-swatch__shades-in-use']}
            >
                <tr>
                    <th set:text='Light Mode' />
                    <th set:text='Dark Mode' />
                </tr>
                { levelsInUseTable.map( ({ levels, styles }) => <tr>
                    <td 
                        data-brightness-mode="light"
                        set:text={levels.light}
                        style={styles && [
                            `background: ${styles.light.background && ColourUtilities.toString.hsl( styles.light.background )}`,
                            `color: ${styles.light.color && ColourUtilities.toString.hsl( styles.light.color )}`,
                        ].join(';')}
                    />
                    <td 
                        data-brightness-mode="light"
                        set:text={levels.dark}
                        style={styles && [
                            `background: ${styles.dark.background && ColourUtilities.toString.hsl( styles.dark.background )}`,
                            `color: ${styles.dark.color && ColourUtilities.toString.hsl( styles.dark.color )}`,
                        ].join(';')}
                    />
                </tr> ) }
            </Table>
        ) }
    </Fragment> : (
        <hr />
        <LoremIpsum
            abbreviated={true}
            heading={heading}
            tokens={tokens}
            displayHeading={displayHeading}
            mode={import.meta.env.DEV ? 'fancy': undefined}
        />
        <slot name="preview" />
    ) }
</article>

<style lang='scss'>
    @forward '../scss/theme-mode-swatch';
</style>
